 <!-- <calcite-shell>
   <calcite-navigation slot="header">
     <calcite-navigation-logo #calciteNavigationLogo slot="logo" target="_blank">dssa</calcite-navigation-logo>
   </calcite-navigation>
   <arcgis-map item-id="05e015c5f0314db9a487a9b46cb37eca" (arcgisViewChange)="arcgisViewChange($event)">
     <arcgis-zoom position="top-left"></arcgis-zoom>
     <arcgis-expand>
       <arcgis-search position="top-right"></arcgis-search>
     </arcgis-expand>
     <arcgis-legend position="bottom-left"></arcgis-legend>
   </arcgis-map>
 </calcite-shell> -->


 <div #mapViewDiv style="height: 500px; width: 100%;"></div>
