/* HTML: <div class="loader"></div> */
::ng-deep .loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 6px solid;
  border-color: #4667a5 #0000;
  animation: l1 1s infinite;
}

@keyframes l1 {
  to {
    transform: rotate(.5turn)
  }
}
