     <div class="flex flex-row flex-wrap h-svh p-5">
       <div class="basis-3/4 relative map-col">
         <div class="absolute top-0 right-0">
           <!-- <app-loader [per]="progress" [progressOver]="progressOver"></app-loader> -->
         </div>
         <div class="map-container">
           <div class="map-frame">
             <!-- <arcgis-map basemap="streets-navigation-vector" #mapViewDiv
               center="{{india_center[0]}},{{india_center[1]}}" zoom="4" style="height: 100%; width: 100%;">
               <arcgis-zoom position="top-left"></arcgis-zoom>
               <arcgis-expand>
                 <arcgis-search position="top-right"></arcgis-search>
               </arcgis-expand>
               <arcgis-legend position="bottom-left"></arcgis-legend>
             </arcgis-map> -->
             <div #mapViewDiv style="height: 100%; width: 100%;"></div>
           </div>
         </div>
       </div>
       <div class="basis-1/4 h-seevh flex map-controls relative">
         @if(isLayerViewQueryWorking){
         <div #spinner class="absolute top-0 right-0">
           <app-spinner></app-spinner>
         </div>
         }
         <div class="h-seevh w-full pl-5">
           <div class="rw mb-4">
             <div class="mb-2">
               <mat-slide-toggle [color]="'accent'" (change)="updatePlotPoints($event)">Enable Plotting Points
               </mat-slide-toggle>
             </div>
             <button mat-flat-button [color]="'warn'" (click)="removeAllCustomPoints()">Remove all plotted
               points</button>
           </div>
           <!-- <div class="rw mb-2">
             <p class="flex justify-between">Query GroundArea Field <span class="range-values flex"><span
                   class="range-start">{{rangeStart.value}}</span>-<span
                   class="range-end">{{rangeEnd.value}}</span></span></p>
             <div class="w-full text-center">
               <mat-slider min="1" max="4000" step="10" [color]="'accent'">
                 <input #rangeStart value="0" matSliderStartThumb
                   (dragEnd)="onFeatureQuery('GroundArea','range',$event)">
                 <input #rangeEnd value="4000" matSliderEndThumb
                   (dragEnd)="onFeatureQuery('GroundArea','range',$event)">
               </mat-slider>
             </div>
           </div> -->
           <div class="rw">
             <p class="flex justify-between">Query State Field</p>
             <mat-form-field [appearance]="'fill'" [color]="'accent'">
               <mat-select [placeholder]="'Select'" (selectionChange)="onFeatureQuery('ID_1','select',$event)" multiple>
                 @for (pn of pointDataAttrs; track pn.ID_1) {
                 <mat-option [value]="pn.ID_1">{{pn.NAME_1}}</mat-option>
                 }
               </mat-select>
             </mat-form-field>
           </div>
         </div>
       </div>
       <!-- {{pointDataAttrs.length}}--{{pointDataAttrs_count}} -->
       <div class="basis-full district-wrap mt-5">
         @if(pointDataAttrs.length < pointDataAttrs_count){ <div><button mat-flat-button class="btn-sm" color="'accent'"
             (click)="queryLayerView('1=1')">Back</button></div>}
       <div class="district">
         @for (pn of pointDataAttrs; track pn.ID_1) {
         <div class="district-data">
           <img class="marker absolute top-0 right-4" src="map-marker.svg" alt="Marker Plotted"
             title="Marker Plotted on Map" width="40" />
           <a (click)="goto_location(pn.latlng,'ID_1','type',pn.ID_1)" class="goto">Goto
             Location on Map</a>
           <div class="district-pin" title="FID">{{pn.ID_1}}</div>
           <div class="district-data-in">
             <div class='district-data-row'><b>ID: </b>{{pn.ID_1}}</div>
             <div class='district-data-row'><b>State Name: </b>{{pn.NAME_1}}</div>
             <div class='district-data-row'><b>State Type: </b>{{pn.TYPE_1}}</div>
             <div class='district-data-row'><b>Other Names: </b>{{pn.VARNAME_1}}</div>
           </div>
         </div>
         }
       </div>
     </div>
     </div>
