/* You can add global styles to this file, and also import other style files */

@use '@angular/material'as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://js.arcgis.com/4.31/@arcgis/core/assets/esri/themes/dark/main.css');
// @import url('https://js.arcgis.com/4.31/@arcgis/core/assets/esri/themes/light/main.css');

.header {
  width: 100%;
  padding: 16px 12px;
  display: flex;
  justify-content: center;
  background-color: #fff8c2;
  margin-bottom: 20px;

  h4 {
    font-weight: bold;
    padding-right: 10px;
    display: inline-block;


  }

  span {
    display: inline-block;
    padding-left: 10px;
  }
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

::ng-deep {
  .states-list {
    .states-list-in {
      height: 38vh;
      overflow: auto;
    }

    label {
      font-size: 12px;
    }

    .mdc-checkbox {
      padding-left: 6px !important;
      padding-right: 6px !important;
    }
  }
}

.map-col {
  height: 55VH;

  .map-container {
    margin: 0;
  }
}

.district-wrap {
  overflow-y: hidden;
  overflow-x: auto;

  .district {
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    padding-top: 20px;

    .goto {
      width: 100%;
      display: block;
      text-align: center;
      border-bottom: 1px solid rgb(37, 76, 160);
      color: rgb(37, 76, 160);
      text-decoration: underline;
      font-weight: 600;
      cursor: pointer;
    }

    .district-pin,
    .district-data {
      padding: 6px 10px;
      border-radius: 6px;
    }

    .district-pin {
      position: absolute;
      top: 0;
      margin: 0 auto;
      transform: translateY(-50%);
      background-color: rgb(255 197 190);
      font-weight: 600;
    }

    .district-data {
      position: relative;
      background-color: rgba(0, 0, 255, 0.253);
      min-width: 300px;

      .district-data-row {
        word-break: break-all;
      }

      .marker {
        transform: translateY(-50%);
      }

      .district-data-in {
        padding-top: 15px;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}


.rw {
  &.rw-range {
    .rw-val {
      margin-top: -12px;
    }
  }
}
