    <div class="flex flex-row flex-wrap h-svh p-5">
      <div class="basis-3/4 relative map-col">
        <div class="absolute top-0 right-0">
          <!-- <app-loader [per]="progress" [progressOver]="progressOver"></app-loader> -->
        </div>
        <div class="map-container">
          <div class="map-frame">
            <div #mapViewDiv style="height: 100%; width: 100%;"></div>
          </div>
        </div>
      </div>
      <div class="basis-1/4 h-seevh flex map-controls">
        <div class="h-seevh w-full pl-5">
          <div class="rw mb-4">
            <div class="mb-2">
              <mat-slide-toggle [color]="'accent'" (change)="updatePlotPoints($event)">Enable Plotting Points
              </mat-slide-toggle>
            </div>
            <button mat-flat-button [color]="'warn'" (click)="removeAllCustomPoints()">Remove all plotted
              points</button>
          </div>
          <div class="rw mb-2">
            <p class="flex justify-between">Query GroundArea Field <span class="range-values flex"><span
                  class="range-start">{{rangeStart.value}}</span>-<span
                  class="range-end">{{rangeEnd.value}}</span></span></p>
            <div class="w-full text-center">
              <mat-slider min="1" max="4000" step="10" [color]="'accent'">
                <input #rangeStart value="0" matSliderStartThumb
                  (dragEnd)="onFeatureQuery('GroundArea','range',$event)">
                <input #rangeEnd value="4000" matSliderEndThumb (dragEnd)="onFeatureQuery('GroundArea','range',$event)">
              </mat-slider>
            </div>
          </div>
          <div class="rw">
            <p class="flex justify-between">Query Condition Field</p>
            <mat-form-field [appearance]="'fill'" [color]="'accent'">
              <mat-select [placeholder]="'Select'" (selectionChange)="onFeatureQuery('Condition','select',$event)">
                @for (c of conditions; track c) {
                <mat-option [value]="c">{{c}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="basis-full district-wrap mt-5">
        <div class="district">
          @for (pn of pointDataAttrs; track pn.FID) {
          <div class="district-data">

            <img class="marker absolute top-0 right-4" src="map-marker.svg" alt="Marker Plotted"
              title="Marker Plotted on Map" width="40" />
            <a (click)="goto_location([pn.Longitude,pn.Latitude])" class="goto">Goto Location on Map</a>

            <div class="district-pin" title="FID">{{pn.FID}}</div>
            <div class="district-data-in">
              <div class='district-data-row'><b>Sci_Name: </b>{{pn.Sci_Name}}</div>
              <div class='district-data-row'><b>Cmn_Name: </b>{{pn.Cmn_Name}}</div>
              <div class='district-data-row'><b>Condition: </b>{{pn.Condition}}</div>
              <div class='district-data-row'><b>Crew: </b>{{pn.Crew}}</div>
              <div class='district-data-row'><b>Crown_Height: </b>{{pn.Crown_Height}}</div>
              <div class='district-data-row'><b>GroundArea: </b>{{pn.GroundArea}}</div>
              <div class='district-data-row'><b>Native: </b>{{pn.Native}}</div>
              <div class='district-data-row'><b>S_Value: </b>{{pn.S_Value}}</div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
