// .map-col {
//   height: calc(100VH - 40px);
// }

.map-controls {
  mat-slider {
    margin-left: 0;
    margin-right: 0;
    width: calc(100% - 26px);
    min-width: 112px;
    max-width: 100%;
  }
}
